# Python

*.pyc
__pycache__/
*.pyo
*.pyd
*.env
*.venv

# OS & IDE
.DS_Store
Thumbs.db
.vscode/

# Backend
backend/venv/
backend/data/

# Firebase service account key -- !!! DO NOT PUSH THIS FILE TO GITHUB !!!
backend/serviceAccountKey.json

# Frontend env -- !!! DO NOT PUSH THIS FILE TO GITHUB !!!
frontend/.env
